<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--1.导入spring的坐标spring-context-->

    <!--2.配置bean-->
    <!--bean标签配置bean
    id -> 命名
    class -> 定义类型-->
    <bean id="bookDao" name="dao" class="com.fan.dao.impl.BookDaoImpl"/>
    <!--换成围堵标签-->
<!--    <bean id="bookService" class="com.fan.service.impl.BookServiceImpl"/>-->
    <!--scope设置单例模式-->
    <bean id="bookService" name = "service" class="com.fan.service.impl.BookServiceImpl" >
        <!--7.配置service与dao的关系-->
        <!--property标签表示配置当前bean的属性
        name表示配置具体哪一个属性
        ref表示属性参照哪一个bean-->
        <property name="bookDao" ref="dao"/>
    </bean>

    <!--以上使用构造方法实例化bean  此处使用静态工厂实例化bean-->
<!--    <bean id="orderDao" class="com.fan.factory.OrderDaoFactory" factory-method="getOrderDao"/>-->

    <!--使用实例工厂实例化bean-->
<!--    <bean id="userFactory" class="com.fan.factory.UserDaoFactory"/>
    <bean id="userDao" factory-method="getUserDao" factory-bean="userFactory"/>-->

    <!--使用FactoryBean实例化bean-->
    <bean id="userDao" class="com.fan.factory.UserDaoFactoryBean"/>

</beans>